<!--
  Generated template for the MemberDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>member-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="row">
		<div class="col-md-4">
			<ion-list>
				<ion-item>
					Nama
					<ion-note>
						{{detail_member.member_name}}
					</ion-note>
				</ion-item>

				<ion-item>
					Email
					<ion-note>
						{{detail_member.member_mail}}
					</ion-note>
				</ion-item>

				<ion-item>
					Phone
					<ion-note>
						{{detail_member.member_phone}}
					</ion-note>
				</ion-item>
			</ion-list>
		</div>
		<div class="col-md-8">
			<ion-list>
				<ion-item *ngFor="let item of transaction; let i = index">
					<span>{{transform_date(item.payment_date)}}</span> &middot;
					<span style="font-weight:700; ">
						{{item.visitor_name}}
					</span>
					<p style="margin-top: 10px;">
						<span> Nota {{item.pay_id}} &middot;</span>
						<span *ngIf="!item.table_name"> Tidak memilih meja &middot;</span> 
						<span *ngIf="item.table_name"> {{item.table_name}} &middot;</span> 
						<span> Rp.{{helper.intToIDR(item.payment_total)}} &middot;</span>
						<span *ngIf="item.payment_nominal > 0 && item.payment_cancel_status == 0" class="bs-label label-success"> Terbayar </span>
						<span *ngIf="item.payment_nominal < 1 && item.payment_cancel_status == 0" class="bs-label label-warning"> Belum Dibayar </span>
						<span *ngIf="item.payment_cancel_status == 1" class="bs-label label-danger"> Pembayaran Dibatalkan </span>
			      	<!-- {{item.payment_nominal + item.paid_with_bank_nominal}} -->
					</p>
					<p>
						
					</p>
					<ion-icon name="done-all" *ngIf="item.payment_nominal > 0 && item.payment_cancel_status == 0" color="primary" item-end></ion-icon>
					<ion-icon name="alert" *ngIf="item.payment_nominal < 1 && item.payment_cancel_status == 0" color="warning" item-end></ion-icon>
					<ion-icon name="trash" *ngIf="item.payment_cancel_status == 1" color="danger" item-end></ion-icon>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>
