page-table {

}
	.table-box
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
		.table-item
		{
			width: 100%;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;
			margin-left: 10px;
			border: 1px solid #03a02f;
			margin-right: 7px;
			color: #03a02f;
		}
		.table-item:before
		{
			content: "";
			padding-top: 100%;
			position: relative;
		}
		.table-item.selected
		{
			background-color: #F39C12;
			border-color: #F39C12;
			color: white;

		}

