<!--
  Generated template for the StocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-toolbar color="main">
	  	<ion-navbar>
	  		<ion-title>Transaksi</ion-title>
	  		<button ion-button menuToggle>
	  			<ion-icon name="menu"></ion-icon>
	  		</button>
			<ion-searchbar *ngIf="page_params.toggleSearchInput" class="searchbar-toolbar" (ionInput)="filter_transaction()" [(ngModel)]="filter_input" style="padding: 0px 5px; width:40%;"></ion-searchbar>
			<ion-buttons class="center distributed">
				<button ion-button icon-only (click)="page_params.toggleSearchInput=!page_params.toggleSearchInput">
					<ion-icon name="search"></ion-icon>
				</button>
			</ion-buttons>
			<ion-buttons>
				<button ion-button clear icon-right color="light" (click)="page_params.toggleFilter = !page_params.toggleFilter">
				  Sort <ion-icon name="funnel"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-toolbar>

</ion-header>



<ion-content padding>
	<div *ngIf="!edit_transaction_status">
		<div>				
			<ion-row>
				<ion-col col-xs-8 col-sm-8 col-md-8 col-lg-8>
				</ion-col>
				<!-- <ion-col col-xs-4 col-sm-4 col-md-4 col-lg-4 *ngIf="filter_by == 'payment_date' ">
					<ion-item>
				    <ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="filter_date_start"></ion-datetime>
				  </ion-item>
				</ion-col>
				
				<ion-col col-xs-4 col-sm-4 col-md-4 col-lg-4 *ngIf="filter_by == 'payment_date' ">
					<ion-item>
				    	<ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="filter_date_end"></ion-datetime>
				  	</ion-item>
				</ion-col> -->

			</ion-row>

			<ion-row *ngIf="page_params.toggleFilter">
				
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Cari berdasarkan</ion-label>
						<ion-select [(ngModel)]="filter_by" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="visitor_name">Nama</ion-option>
							<ion-option value="pay_id">No Nota</ion-option>
							<ion-option value="table_name">Nama Meja</ion-option>
							<ion-option value="payment_date">Hari ini</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Urutkan</ion-label>
						<ion-select [(ngModel)]="order_by" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="pay_id DESC">No Nota</ion-option>
							<ion-option value="visitor_name DESC">Nama (Z-A) </ion-option>
							<ion-option value="visitor_name ASC">Nama (A-Z) </ion-option>
							<ion-option value="payment_date DESC">Tanggal</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Status</ion-label>
						<ion-select [(ngModel)]="payment_status" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="-1">Semua</ion-option>
							<ion-option value="0">Belum Dibayar</ion-option>
							<ion-option value="1">Dibayar</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>


				

			</ion-row>

		</div>
		<ion-list>
			<ion-item-sliding *ngFor="let item of items; let i = index">

				<ion-item (click)="default_click_transaction(i, item)">
						<span>{{transform_date(item.payment_date)}}</span> &middot;
					<span style="font-weight:700; ">
						{{item.visitor_name}}
					</span>
					<p style="margin-top: 10px;">
						<span> Nota {{item.pay_id}} &middot;</span>
						<span *ngIf="!item.table_name"> Tidak menggunakan meja &middot;</span> 
						<span *ngIf="item.table_name"> {{item.table_name}} &middot;</span> 
						<span> Rp.{{helper.intToIDR(item.payment_total)}} &middot;</span>
						<span *ngIf="item.payment_nominal > 0 && item.payment_cancel_status == 0" class="bs-label label-success"> Terbayar </span>
						<span *ngIf="item.payment_nominal < 1 && item.payment_cancel_status == 0" class="bs-label label-warning"> Belum Dibayar </span>
						<span *ngIf="item.payment_cancel_status == 1" class="bs-label label-danger"> Pembayaran Dibatalkan </span>
			      	<!-- {{item.payment_nominal + item.paid_with_bank_nominal}} -->
					</p>
					<p>
						
					</p>
					<ion-icon name="done-all" *ngIf="item.payment_nominal > 0 && item.payment_cancel_status == 0" color="primary" item-end></ion-icon>
					<ion-icon name="alert" *ngIf="item.payment_nominal < 1 && item.payment_cancel_status == 0" color="warning" item-end></ion-icon>
					<ion-icon name="trash" *ngIf="item.payment_cancel_status == 1" color="danger" item-end></ion-icon>
				</ion-item>
				
				<ion-item-options side="right">
			      	
					<button ion-button color="primary" class="center distributed" *ngIf=" helper.IDRtoInt(item.payment_nominal) + helper.IDRtoInt(item.paid_with_bank_nominal) < helper.IDRtoInt(item.payment_total) && item.payment_cancel_status == 0" (click)="pay_transaction(i, item)"> 
						<ion-icon name="logo-usd" style="padding:0px 10px; font-size:1.2em;"></ion-icon>
					</button>
					<button ion-button color="secondary" class="center distributed" *ngIf="page_params.action=='edit' || item.payment_nominal + item.paid_with_bank_nominal >= item.payment_total" (click)="edit_transaction(i, item)">
						<ion-icon name="create" style="padding:0px 10px; font-size:1.2em;"></ion-icon>
					</button>
					<button ion-button color="danger" class="center distributed" (click)="cancel_transaction(i, item)" *ngIf="item.payment_cancel_status == 0">
						<ion-icon name="trash" style="padding:0px 10px; font-size:1.2em;"></ion-icon>
					</button>
			    </ion-item-options>
			</ion-item-sliding>
			<ion-item *ngIf="items.length < 1" class="text-align--center">
				Tidak ditemukan transaksi
			</ion-item>

		</ion-list>
		<ion-infinite-scroll (ionInfinite)="infinite_scroll($event)">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>
	<div *ngIf="edit_transaction_status">

	</div>
</ion-content>
