<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="main">
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Modal</ion-title>
  </ion-navbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
	<div class="row">
		<div class="col-md-3" padding>
			<ion-card>

			  <ion-card-header>
			    Menu Modal
			  </ion-card-header>

			  <ion-card-content>
			    <!-- Add card content here! -->
				<ion-list>

					<ion-item>
						<ion-label floating>Modal Nominal</ion-label>
						<ion-input type="number" [(ngModel)]="modal.modal_nominal"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label floating>Catatan</ion-label>
						<ion-textarea [(ngModel)]="modal.modal_note" style="height: 100%"></ion-textarea>
					</ion-item>

					<ion-item class="sr-only">
					</ion-item>

				</ion-list>
				<div padding>
					
						<button ion-button block *ngIf="state=='new'" (click)="create_new_modal()"> Tambah modal </button>

						<button ion-button block *ngIf="state=='update'" (click)="update_modal()"> Perbarui modal </button>
				</div>
			  </ion-card-content>

			</ion-card>
		</div>
		<div class="col-md-9">

			<div *ngIf="!data_modal || data_modal.length < 1" class="text-align--center">
				Belum ada modal ditambahkan untuk hari ini.
			</div>
			
			<ion-row>
		        <ion-col col-6 *ngFor="let item of data_modal; let i = index;" (press)="advanceOptions(i, item)">
		          <ion-card padding>
		          	<h2>Rp.{{helper.intToIDR(item.modal_nominal)}}</h2>
					<p>{{helper.moment(item.modal_date).format('HH:mm - DD/MM/YYYY')}} - {{item.users_fullname}}</p>
		          </ion-card>
		        </ion-col>
		    </ion-row>
		</div>
	</div>
</ion-content>
