<!--
  Generated template for the SpendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar color="main">

	  <ion-navbar>
		<ion-buttons left>
		    
		    <button ion-button icon-only clear color="light" *ngIf="state == 'new_spend'" (click)="state = 'list'">
		      <ion-icon name="arrow-back"></ion-icon>
		    </button>

		    <button ion-button icon-only clear color="light" *ngIf="state == 'spend_item'" (click)="state = 'new_spend'">
		      <ion-icon name="arrow-back"></ion-icon>
		    </button>

		    <button ion-button icon-only clear color="light" *ngIf="state == 'spend_preview' && view_state != 'view'" (click)="state = 'spend_item'">
		      <ion-icon name="arrow-back"></ion-icon>
		    </button>
		</ion-buttons>

	  	<button ion-button menuToggle *ngIf="state == 'list'">
	      <ion-icon name="menu"></ion-icon>
	    </button>

	    <ion-title>
	    	<span *ngIf="state == 'list'">Pengeluaran tak terduga</span>
	    	<span *ngIf="state == 'new_spend'">Tambah data pengeluaran</span>
	    	<span *ngIf="state == 'spend_item'">Tambah item</span>
	    	<span *ngIf="state == 'spend_preview'">Preview Pengadaan</span>
	    </ion-title>

		<ion-buttons end *ngIf="state == 'list'"  >
			<button ion-button clear color="light" (click)="state = 'new_spend'">
		      <ion-icon name="add"></ion-icon> &nbsp;
		      Tambah data
		    </button>
		</ion-buttons>
		<ion-buttons end *ngIf="state == 'new_spend'" >
		    <button ion-button clear color="light" (click)="openSpendItem()">
		      Selanjutnya &nbsp;
		      <ion-icon name="arrow-forward"></ion-icon>
		    </button>
		</ion-buttons>

		<ion-buttons end *ngIf="state == 'spend_item'" >
		    <button ion-button clear color="light" (click)="openSpendPreview()">
		      Selanjutnya &nbsp;
		      <ion-icon name="arrow-forward"></ion-icon>
		    </button>
		</ion-buttons>

		<ion-buttons end *ngIf="state == 'spend_preview'" >
		    <button ion-button clear color="light" *ngIf="!view_state || view_state != 'view'" (click)="create_new_spend_data();">
		      Simpan &nbsp;
		      <ion-icon name="send"></ion-icon>
		    </button>

		    <button ion-button clear color="light" *ngIf="view_state == 'view'" (click)="close_preview();">
		      close &nbsp;
		    </button>
		</ion-buttons>

	  </ion-navbar>
	</ion-toolbar>

</ion-header>


<ion-content padding>
	<div *ngIf="state == 'list'" [@pageTransition]="state">
		<div class="text-align--center" *ngIf="!data_spend || data_spend.length < 1">
			Data Tidak Ditemukan 
		</div>
		<ion-list *ngIf="data_spend">
			<ion-item *ngFor="let item of data_spend; let i = index; " (click)="opsiLanjutanSpendItem(i, item)">
				<h2>{{item.sp_supplier}}</h2>
				<p>  
					<span> Rp.{{helper.intToIDR(item.sp_total)}} </span>
				</p>
			</ion-item>
		</ion-list>
	</div>

	<div *ngIf="state == 'new_spend'" [@pageTransition]="state" >
		<div class="row center">
			<div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
				<ion-list>

					<ion-item>
						<ion-label *ngIf="!spend.sp_type"> Pengeluaran <br><span class="text-info" style="font-size: .7em; ">Ganti toggle disamping untuk mengganti data.</span></ion-label>
						<ion-label *ngIf="spend.sp_type"> Pengadaan <br><span class="text-info" style="font-size: .7em; ">Ganti toggle disamping untuk mengganti data.</span></ion-label>
						<ion-toggle checked="false" value="1" [(ngModel)]="spend.sp_type"></ion-toggle>
					</ion-item>

				  <ion-item>
				    <ion-label floating>Supplier</ion-label>
				    <ion-input type="text" [(ngModel)]="spend.sp_supplier"></ion-input>
				  </ion-item>

				  <ion-item>
				    <ion-label floating>Tanggal pengadaan</ion-label>
				    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="spend.sp_date"> </ion-datetime>
				  </ion-item>


				  <ion-item>
				    <ion-label floating>Tanggal dibayarkan</ion-label>
				    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="spend.sp_paid"> </ion-datetime>
				  </ion-item>

				  
				</ion-list>
			</div>
			<div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
				  
				<ion-list>

					<div class=" form-group" padding>
						<label>Pajak</label>
						<div class="input-box input-group" style="margin-top: 8px;">
							<input type="number" maxlength="2" min="1" max="99" class="form-control--lg form-control" name="" style="width: 18%;" id=""  [(ngModel)]="spend.sp_tax_percent">
							<span class="input-group-addon" id="basic-addon1"> % </span>
							<input type="number" class="form-control--lg form-control" name="" id="" placeholder="Pajak nominal"  [(ngModel)]="spend.sp_tax_nominal">
						</div>
					</div>

					<div class=" form-group" padding>
						<label>Diskon</label>
						<div class="input-box input-group" style="margin-top: 8px;">
							<input type="number" maxlength="2" min="1" max="99" class="form-control--lg form-control" name="" style="width: 18%;" id="" [(ngModel)]="spend.sp_disc_percent">
							<span class="input-group-addon" id="basic-addon1"> % </span>
							<input type="number" class="form-control--lg form-control" name="" id="" placeholder="Diskon nominal"  [(ngModel)]="spend.sp_disc_nominal">
						</div>
					</div>


				  <ion-item>
				    <ion-label floating>Uang dibayarkan</ion-label>
				    <ion-input type="text"  [(ngModel)]="spend.sp_bill"  (input)="changeToIDR($event)"></ion-input>
				  </ion-item>



				  <ion-item>
				    <ion-label floating>Catatan</ion-label>
				    <ion-textarea [(ngModel)]="spend.sp_note" style="height: 103px;"></ion-textarea>
				  </ion-item>

				  <ion-item>
				  </ion-item>

				</ion-list>
			</div>
		</div>
	</div>

	<div *ngIf="state == 'spend_item'" [@pageTransition]="state">
	 	<div class="row">
	 		<div class="col-md-4">
	 			
 					
		 			<ion-list>
		 				<ion-item *ngIf="spend.sp_type && helper.local.get_params(helper.config.variable.credential).outlet.serv_id != 1 && helper.local.get_params(helper.config.variable.credential).outlet.serv_id != 2 ">
		 					<ion-label stacked>Product</ion-label>
		 					<ion-select [(ngModel)]="spend_item_form.prod_id">
		 						<ion-option selected>--Pilih Produk--</ion-option>
		 						<ion-option *ngFor="let item of products; let i = index;" value="{{item.id}}">{{item.name}}</ion-option>
		 					</ion-select >
		 				</ion-item>

		 				<ion-item *ngIf="spend.sp_type && (helper.local.get_params(helper.config.variable.credential).outlet.serv_id == 1 || helper.local.get_params(helper.config.variable.credential).outlet.serv_id == 2 )">
		 					<ion-label stacked>Ingredient</ion-label>
		 					<ion-select [(ngModel)]="spend_item_form.prod_id">
		 						<ion-option selected>--Pilih Produk--</ion-option>
		 						<ion-option *ngFor="let item of ingredients; let i = index;" value="{{item.ingd_id}}">{{item.ingd_name}}</ion-option>
		 					</ion-select >
		 				</ion-item>

		 				<ion-item>
		 					<ion-label stacked>Jumlah</ion-label>
		 					<ion-input name="qty" type="number" [(ngModel)]="spend_item_form.sp_dt_qty" (input)="countTotal($event)"> </ion-input>
		 				</ion-item>

		 				<ion-item>
		 					<ion-label stacked>Harga per-item</ion-label>
		 					<ion-input type="number" [(ngModel)]="spend_item_form.sp_dt_price" (input)="countTotal($event)"> </ion-input>
		 				</ion-item>

		 				<ion-item>
		 					<ion-label stacked>Total</ion-label>
		 					<ion-input name="total" type="text" [(ngModel)]="spend_item_form.sp_dt_total" disabled></ion-input>
		 				</ion-item>

		 				<ion-item>
		 					<ion-label stacked>Deskripsi</ion-label>
		 					<ion-textarea name="desc" type="text" [(ngModel)]="spend_item_form.sp_dt_desc" style="height: 100px;"></ion-textarea>
		 				</ion-item>

		 				<ion-item>
		 					<ion-label stacked>Catatan</ion-label>
		 					<ion-textarea name="note" type="text" [(ngModel)]="spend_item_form.sp_dt_note" style="height: 100px;"></ion-textarea>
		 				</ion-item>

		 				<ion-item>
			 				<button ion-button  block type="button" color="main" (click)="SaveItem()" *ngIf="spend_item_form_state=='new'">
			 					Tambahkan item 
							</button>
							<button ion-button  block type="button" color="main" (click)="UpdateItem()" *ngIf="spend_item_form_state=='edit'">
			 					Perbarui data
							</button>
							<button ion-button block  type="reset" color="dark" (click)="ResetItem()">
			 					Reset
							</button>
		 				</ion-item>

		 				<ion-item>
		 				</ion-item>

	 				</ion-list>

	 			
	 		</div>
	 		<div class="col-md-8">
	 			
	 			<ion-list>
	 				<ion-item *ngFor="let item of spend_item; let i = index;" style="" (press)="advanceOptions(i, item)" (click)="advanceOptions(i, item)">
	 					<h1 *ngIf="item.product_item">{{item.product_item.name}}</h1>
	 					<h1 *ngIf="!item.product_item">Item {{i+1}}</h1>
	 					<p>
	 						<span style="font-weight: 700;">QTY: </span> <span>{{item.sp_dt_qty}}</span> &middot;
	 						<span style="font-weight: 700;">Harga: </span> <span>{{item.sp_dt_price}}</span> &middot;
	 						<span style="font-weight: 700;">Total: </span> <span>{{item.sp_dt_total}}</span>
	 					</p>
	 				</ion-item>
	 			</ion-list>
	 		</div>
	 	</div>

	</div>

	<div *ngIf="state == 'spend_preview'" [@pageTransition]="state">
		<ion-list>
			<ion-item>
				Supplier
				<ion-note item-end>
					{{spend.sp_supplier}}
				</ion-note>
			</ion-item>
			<ion-item>
				Tanggal pembelian
				<ion-note item-end>
					{{helper.moment(spend.sp_date).format('YYYY-MM-DD HH:mm')}}
				</ion-note>
			</ion-item>
			<ion-item>
				Tanggal dibayarkan
				<ion-note item-end>
					{{helper.moment(spend.sp_paid).format('YYYY-MM-DD HH:mm')}}
				</ion-note>
			</ion-item>
			<ion-item>
				Type
				<ion-note item-end>
					<span *ngIf="spend.sp_type">Pengadaan</span>
					<span *ngIf="!spend.sp_type">Pengeluaran</span>
				</ion-note>
			</ion-item>

			<ion-item>
				Diskon
				<ion-note item-end>
					<span *ngIf="spend.sp_disc_percent > 0">{{spend.sp_disc_percent}} %,</span>
					<span >Rp. {{helper.intToIDR(spend.sp_disc_nominal)}}</span>
				</ion-note>
			</ion-item>

			<ion-item>
				Pajak
				<ion-note item-end>
					<span *ngIf="spend.sp_tax_percent > 0">{{spend.sp_tax_percent}} %,</span>
					<span >Rp. {{helper.intToIDR(spend.sp_tax_nominal)}}</span>
				</ion-note>
			</ion-item>

			<ion-item>
				Total harga
				<ion-note item-end>
					<span >Rp. {{helper.intToIDR(spend.sp_total)}}</span>
				</ion-note>
			</ion-item>

			<ion-item>
				Uang Dibayarkan
				<ion-note item-end>
					<span >Rp. {{spend.sp_bill}}</span>
				</ion-note>
			</ion-item>

			<ion-item-divider color="main">Item pembelian</ion-item-divider>
			<ion-item *ngFor="let item of spend_item; let i = index;" style="" (press)="advanceOptions(i, item)" (click)="advanceOptions(i, item)">
				<h1 *ngIf="item.product_item">{{item.product_item.name}}</h1>
				<h1 *ngIf="!item.product_item">Item {{i+1}}</h1>
				<p>
					<span style="font-weight: 700;">QTY: </span> <span>{{item.sp_dt_qty}}</span> &middot;
					<span style="font-weight: 700;">Harga: </span> <span>{{item.sp_dt_price}}</span> &middot;
					<span style="font-weight: 700;">Total: </span> <span>{{item.sp_dt_total}}</span>
				</p>
			</ion-item>

		</ion-list>
	</div>
</ion-content>
