<!--
  Generated template for the DebtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	
	<ion-toolbar color="main">
		
		<ion-navbar>
			<button ion-button menuToggle *ngIf="state == 'list'">
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-buttons left>
			    
			    <button ion-button icon-only clear color="light" *ngIf="state == 'detail'" (click)="outDetail()">
			      <ion-icon name="arrow-back"></ion-icon>
			    </button>
			</ion-buttons>

			<ion-buttons left>    
			    <button ion-button icon-only clear color="light" *ngIf="state == 'history'" (click)="outFromLog()">
			      <ion-icon name="arrow-back"></ion-icon>
			    </button>
			</ion-buttons>
			<ion-title *ngIf="state == 'list'">Hutang</ion-title>
			<ion-title *ngIf="state == 'detail'">Detail Hutang </ion-title>
			<ion-title *ngIf="state == 'history'">Log Hutang</ion-title>
			
			

			<ion-searchbar *ngIf="page_params.toggleSearchInput" class="searchbar-toolbar" (ionInput)="filter_hutang()" [(ngModel)]="filter_input" style="padding: 0px 5px; width:40%;"></ion-searchbar>
			<ion-buttons class="center distributed" *ngIf="state == 'list'">
				<button ion-button icon-only color="light" (click)="page_params.toggleSearchInput=!page_params.toggleSearchInput">
					<ion-icon name="search" *ngIf="!page_params.toggleSearchInput"></ion-icon>
					<ion-icon name="close" *ngIf="page_params.toggleSearchInput"></ion-icon>
				</button>
			</ion-buttons>
			<ion-buttons class="center distributed" *ngIf="state == 'list'">
				<button ion-button clear icon-right color="light" (click)="filter_options()">
				  Filter <ion-icon name="funnel"></ion-icon>
				</button>
			</ion-buttons>
			<ion-buttons class="center distributed" *ngIf="state == 'list'">
				<button ion-button clear icon-right color="light" (click)="open_debt_card()">
				  Download Kartu hutang
				</button>
			</ion-buttons>
			<ion-buttons class="center distributed" *ngIf="state == 'detail'">
				<button ion-button clear icon-right color="light" (click)="cicilHutang(detail_item)">
				  Cicil berdasarkan nominal
				</button>
			</ion-buttons>
			<ion-buttons class="center distributed" *ngIf="state == 'history'">
				<button ion-button clear icon-right color="light" (click)="pay_as_pay_id(detail_item)">
				  Cicil berdasarkan nota
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-toolbar>

</ion-header>


<ion-content padding>

	<div *ngIf="state == 'list'">

		<ion-row>
	        <ion-col col-4 *ngFor="let debt of debts; let i = index;" (press)="advanceOptions(i, debt)">
	          <ion-card padding>
	          	<h2 class="text-main">{{debt.member_name}}</h2>
	          	<div style="margin-top: 15px;" class="text-muted">
	          		<div style="font-size: .7em;">  
						<strong>Hutang terbayar:</strong> {{helper.intToIDR(debt.total_debt_out)}}
	          		</div>
	          		<div style="font-size: .7em;">  
						<strong>Sisa Hutang :</strong> {{helper.intToIDR(debt.debt_rest_pay_id)}}
	          		</div>
	          		<div style="font-size: .7em;">  
						<strong>Total hutang:</strong> {{helper.intToIDR(debt.total_debt_in)}}
	          		</div>
	          	</div>
	          </ion-card>
	        </ion-col>
	    </ion-row>
	    <div *ngIf="!debts || debts.length < 1" class="text-align--center">
			Tidak ada hutang ditemukan
		</div>
		<!-- <ion-item *ngFor="let debt of debts; let i = index; " (click)="advanceOptions(i, debt)">
			<h2>{{debt.member_name}}</h2>
			<p>
				<span> <strong>Hutang terbayar:</strong> {{helper.intToIDR(debt.total_debt_out)}}</span>
				<span> <strong>Sisa Hutang :</strong> {{helper.intToIDR(debt.debt_rest_pay_id)}}</span>
				<span> <strong>Total hutang:</strong> {{helper.intToIDR(debt.total_debt_in)}}</span>
			</p>
		</ion-item> -->
	</div>

	<div *ngIf="state == 'detail'">
		<div *ngIf="debts.length > 0" padding>
			<div style="margin-top: 6px;"> <strong>Name :</strong> {{debts[0]['member_name']}} </div>
			<div style="margin-top: 6px;"> <strong>Email :</strong> {{debts[0]['member_mail']}} </div>
			<div style="margin-top: 6px;"> <strong>Phone :</strong> {{debts[0]['member_phone']}} </div>
		</div>
		<ion-row>
	        <ion-col col-4 *ngFor="let debt of debts; let i = index;" (press)="advanceOptions(i, debt)">
	          <ion-card padding>
	          	<h2 class="text-main">Nota {{helper.get_initial_outlet_name(helper.local.get_params(helper.config.variable.credential).outlet.outlet_name,'.')}}/NT/000{{debt.debt_id}}</h2>
	          	<div style="margin-top: 15px;" class="text-muted">
	          		<div style="font-size: .7em;">  
						<strong>Hutang terbayar:</strong> {{helper.intToIDR(debt.total_debt_out)}}
	          		</div>
	          		<div style="font-size: .7em;">  
						<strong>Sisa Hutang :</strong> {{helper.intToIDR(debt.debt_rest_pay_id)}}
	          		</div>
	          		<div style="font-size: .7em;">  
						<strong>Total hutang:</strong> {{helper.intToIDR(debt.total_debt_in)}}
	          		</div>
	          	</div>
	          </ion-card>
	        </ion-col>
	    </ion-row>
		<!-- <ion-item *ngFor="let debt of debts; let i = index; " (click)="advanceOptionsDetail(i, debt)" [ngClass]="{'sr-only':debt.debt_rest <= 0 ?true : false}">
			<h2><strong>{{debt.member_name}}</strong></h2>
			<p>
				<span><strong>Nota : </strong> {{helper.intToIDR(debt.pay_id)}}</span> &middot; 
				<span><strong>Hutang : </strong> Rp.{{helper.intToIDR(debt.total_debt_in)}}</span> &middot;
				<span><strong>Dibayar : </strong> Rp.{{helper.intToIDR(debt.total_debt_out)}}</span> &middot;
				<span><strong>Sisa hutang : </strong> Rp.{{helper.intToIDR(debt.debt_rest_pay_id)}}</span>
			</p>
		</ion-item> -->
	</div>

	<ion-list *ngIf="state == 'history'">
		<ion-item *ngFor="let debt of debts; let i = index; ">
			<h2><strong>{{helper.moment(debt.debt_date).format('DD MMM YYYY - HH:MM')}}</strong></h2> <span *ngIf="debt.debt_out > 0" class="bs-label label-success">Pembayaran</span> <span *ngIf="debt.debt_in > 0" class="bs-label label-main">Pengadaan hutang</span>
			
			<div style="margin-top: 5px;">
				<span>Nominal : </span> <span *ngIf="debt.debt_out > 0">{{helper.intToIDR(debt.debt_out)}}</span> <span *ngIf="debt.debt_in > 0">{{helper.intToIDR(debt.debt_in)}}</span>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
