<!--
  Generated template for the StocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-toolbar color="main">
	  	<ion-navbar>
	  		<ion-title>Kitchen & Bar</ion-title>
	  		<button ion-button menuToggle>
	  			<ion-icon name="menu"></ion-icon>
	  		</button>
			<ion-buttons class="center distributed">
				
			</ion-buttons>
		</ion-navbar>
	</ion-toolbar>
	<ion-toolbar>
		<div style="display: flex; flex-direction: column;width: 100%;">
			
			<ion-row>
				<ion-col col-12 col-xs-12 col-sm-12 col-md-12>
					<ion-searchbar class="searchbar-toolbar" (ionInput)="filter_transaction()" [(ngModel)]="filter_input"></ion-searchbar>
				</ion-col>
			</ion-row>
		</div>
  	</ion-toolbar>
</ion-header>



<ion-content padding>
	<ion-refresher (ionRefresh)="refresh_data($event)">
	    <ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	
	<div *ngIf="!edit_transaction_status">
		<div>				
			<ion-row>
				<ion-col col-xs-8 col-sm-8 col-md-8 col-lg-8>
				</ion-col>
				<!-- <ion-col col-xs-4 col-sm-4 col-md-4 col-lg-4 *ngIf="filter_by == 'payment_date' ">
					<ion-item>
				    <ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="filter_date_start"></ion-datetime>
				  </ion-item>
				</ion-col>
				
				<ion-col col-xs-4 col-sm-4 col-md-4 col-lg-4 *ngIf="filter_by == 'payment_date' ">
					<ion-item>
				    	<ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="filter_date_end"></ion-datetime>
				  	</ion-item>
				</ion-col> -->

			</ion-row>

			<ion-row *ngIf="page_params.toggleFilter">
				
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Cari berdasarkan</ion-label>
						<ion-select [(ngModel)]="filter_by" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="visitor_name">Nama</ion-option>
							<ion-option value="pay_id">No Nota</ion-option>
							<ion-option value="table_name">Nama Meja</ion-option>
							<ion-option value="payment_date">Hari ini</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Urutkan</ion-label>
						<ion-select [(ngModel)]="order_by" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="pay_id DESC">No Nota</ion-option>
							<ion-option value="visitor_name DESC">Nama (Z-A) </ion-option>
							<ion-option value="visitor_name ASC">Nama (A-Z) </ion-option>
							<ion-option value="payment_date DESC">Tanggal</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
				<ion-col col-xs-3 col-sm-3 col-md-3 col-lg-3>
					<ion-item>
						<ion-label>Status</ion-label>
						<ion-select [(ngModel)]="payment_status" (ionChange)="filter_transaction()" interface="action-sheet">
							<ion-option value="-1">Semua</ion-option>
							<ion-option value="0">Belum Dibayar</ion-option>
							<ion-option value="1">Dibayar</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>


				

			</ion-row>

		</div>
		<div>
			<ion-card *ngFor="let item of items; let i = index" class="">
				<ion-card-header>
					<span>Pesanan {{helper.outlet_initial_name()}}/NOTA/{{helper.lead_zero(item.pay_id, 5)}} </span>
					<span *ngIf="item.order_session" class="pull-right bs-label label-success">{{item.order_session > 0? "Extra #"+item.order_session : 'Pesanan Awal'}}</span><br>
					<span *ngIf="item.member_name"> a/n {{item.member_name}} &middot;</span> 
					
				</ion-card-header>
				<ion-card-content style="border: 1px solid #e3e3e3; margin-top: 10px;padding-bottom: 2px;">
					<button ion-button outline start><ion-icon ios="md-pricetag" md="md-pricetag"></ion-icon> &nbsp; Detail</button>
					<button ion-button icon-only clear end class="pull-right">
					  	<ion-icon ios="ios-checkmark-circle" md="ios-checkmark-circle"></ion-icon>
					</button>
				</ion-card-content>
			</ion-card>

			<div class="" *ngIf="items.length <= 0">
				Data tidak ditemukan
			</div>

		</div>
		
	</div>
	<div *ngIf="edit_transaction_status">

	</div>
</ion-content>
