<!--
  Generated template for the ReceiptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
	<div class="receipt receipt-container relative">
		<div class="receipt-header" *ngIf="receipt_page_params.show_header">
			<div class="receipt--costumer-header pseudo">
				<h5 class="title">{{helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_name? helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_name : ''}}</h5>
				<div class=" center " style="display: flex;"><div style="width: 80%;">{{helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_address?helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_address:''}}</div> </div>
				<div>{{helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_phone?helper.local.get_params(this.helper.config.variable.credential).outlet.outlet_phone:''}}</div>
			</div>
			<ion-row class="receipt-headinput">
				<ion-col col-5>
					<input type="text" name="" class="text-align--center form-control form-receipt--border-bottom form-receipt--table"  placeholder="Nomor Meja" [disabled]="can_edit_table" [(ngModel)]="bill.table_name" (input)="update_receipt()" (click)="change_table()">
				</ion-col>
				<ion-col col-2></ion-col>
				<ion-col col-5>
					<input type="text" name="" class="text-align--center form-control form-receipt--border-bottom form-receipt--customer"  placeholder="Atas nama" [disabled]="can_edit_visitor_name" [(ngModel)]="bill.visitor_name" (input)="update_receipt()" (press)="optionVisitor()">
				</ion-col>
			</ion-row>	
		</div>
		<div class="receipt-body" *ngIf="receipt_page_params.show_content">
			
			<div class="" style="display:flex; border-bottom: 1px solid #aaa; padding-bottom: 3px;margin-top: 10px; font-weight: 700;">
				<div style="width: 10%">QTY</div>
				<div style="width: 50%">ITEM</div>
				<div style="width: 20%">HARGA</div>
				<div style="width: 20%">JUMLAH</div>
				<div style="width: 10%" *ngIf="receipt_page_params.show_split_arrow"></div>
			</div>

			<ion-list style="margin-top: 10px;">
				<div *ngFor="let item of get_orders(); let i = index;">
					<div class="session-order" *ngIf="item.first_session_order && item.order_session > 0">
						Tambahan ke {{item.order_session}}
					</div>
					
					<ion-item-sliding >
						<ion-item class="item-receipt" id="receipt-product-{{item.id}}" style="display: flex; padding-left: 0px;" (click)="editItem(item, i)">
							<div style="display: flex;font-size: .8em;">
								<div class="receipt-detail--component text-align--center" style="width: 10%;"  >
									<span class="product-amount">{{item.qty}}</span>
									<p class="italic receipt-detail--component--properties" *ngIf="item.complement_status > 0 && item.complement_item < item.qty">{{item.complement_item}}</p>

								</div>
								
								<div class="receipt-detail--component text-align--left" style="width: 50%;" >
									<span>{{item.name}}</span><br>
									<p class="italic receipt-detail--component--properties" *ngIf="item.complement_status > 0">Complement</p>
									<p class="italic receipt-detail--component--properties" *ngIf="billProvider.helper.IDRtoInt(item.discount_nominal) > 0 && (billProvider.helper.toInt(item.complement_status) != 1 || billProvider.helper.toInt(item.complement_item) < billProvider.helper.toInt(item.qty) )">Diskon {{billProvider.helper.toInt(item.discount_percent)}}%</p>
									<p class="receipt-detail--component--notes">{{item.note}}</p>
								</div>

								<div class="receipt-detail--component" style="width: 20%;">
									<span> {{billProvider.helper.intToIDR(item.price)}} </span>
									<p class="italic receipt-detail--component--properties" *ngIf="item.complement_status > 0"> &nbsp; </p>
									<p class="italic receipt-detail--component--properties" *ngIf="billProvider.helper.IDRtoInt(item.discount_nominal) > 0 && (billProvider.helper.toInt(item.complement_status) != 1 || billProvider.helper.toInt(item.complement_item) < billProvider.helper.toInt(item.qty) )">-{{ billProvider.helper.intToIDR(item.discount_nominal) }}</p>
								</div>

								<div class="receipt-detail--component" style="width: 20%;">{{billProvider.helper.intToIDR(item.total)}}</div>
								<div style="width: 10%;" *ngIf="receipt_page_params.show_split_arrow"> <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></div>
							</div>
						</ion-item>

						<!-- menu slider -->
					    <ion-item-options side="right" *ngIf="receipt_page_params.can_edit_slide_item">
					      <button ion-button color="danger" class="center distributed" (click)="removeItem(i, item)">
					        <ion-icon name="trash" style="padding-left: 10px; padding-bottom: 0px; padding-right: 10px;"></ion-icon>
					      </button>
					    </ion-item-options>
					    <ion-item-options side="left" *ngIf="receipt_page_params.can_edit_slide_item">
					      <button ion-button color="secondary" class="center distributed" (click)="reduceItem(i, item)">
					        <ion-icon name="remove" style="padding-left: 10px; padding-bottom: 0px; padding-right: 10px;"></ion-icon>
					      </button>
					      <button ion-button color="primary" class="center distributed" (click)="addItem(i, item)">
					        <ion-icon name="add" style="padding-left: 10px; padding-bottom: 0px; padding-right: 10px;"></ion-icon>
					      </button>
					    </ion-item-options>
					</ion-item-sliding>
				</div>
			</ion-list>
			<div class="" *ngIf="!billProvider.get_bill_component('orders') || billProvider.get_bill_component('orders').length < 1" class="text-align--center"> Silahkan pilih menu disamping! </div>
		</div>
		<div class="receipt-footer" (click)="edit_total_payment()" *ngIf="receipt_page_params.show_footer"> 
			<table class="" style="margin-bottom: 0px;width: 100%;">
				<tbody style="padding-top: 10px">
					<tr class="" *ngIf="billProvider.get_bill_component('tax_nominal')>0 || billProvider.get_bill_component('discount_nominal')>0">
						<td style="width: 10%;"></td>							
						<td style="width: 10%;"></td>							
						<td style="width: 48%;" class="text-align--right">Bill</td>
						<td style="width: 5%;" class="text-align--right"><span class="">Rp.</span> </td>
						<td style="width: 10%;" class="text-align--right"><span>{{billProvider.helper.intToIDR(bill.payment_bills)}} </span> </td>
					</tr>

					<tr class="" *ngIf="billProvider.get_bill_component('tax_nominal')>0">
						<td style="width: 10%;"></td>
						<td style="width: 10%;"></td>							
						<td style="width: 48%;" class="text-align--right">Pajak</td>
						<td style="width: 5%;" class="text-align--right"><span class="">Rp.</span> </td>
						<td style="width: 10%;" class="text-align--right"><span>{{billProvider.helper.intToIDR(billProvider.get_bill_component('tax_nominal'))}} </span> </td>
					</tr>

					<tr class="" *ngIf="billProvider.get_bill_component('discount_nominal')>0">
						<td style="width: 10%;"></td>
						<td style="width: 10%;"></td>							
						<td style="width: 48%;" class="text-align--right">Diskon {{ billProvider.helper.toInt(billProvider.get_bill_component('discount_percent')) > 0? billProvider.get_bill_component('discount_percent')+'%':''  }}</td>
						<td style="width: 5%;" class="text-align--right"><span class="">Rp.</span> </td>
						<td style="width: 10%;" class="text-align--right"><span>{{billProvider.helper.intToIDR(billProvider.get_bill_component('discount_nominal'))}} </span> </td>
					</tr>

					<tr >
						<td style="width: 20%;padding-top: 10px;font-size: 1.3em;" >{{get_orders().length}} item</td>
						<td style="width: 48%; padding-top: 10px; font-size: 1.3em;" class="text-align--right">Total</td>
						<td style="width: 5%; padding-top: 10px; font-size: 1.3em;" class="text-align--right"><span class="">Rp.</span> </td>
						<td style="width: 10%; padding-top: 10px; font-size: 1.3em;" class="text-align--right"><span>{{billProvider.helper.intToIDR(billProvider.get_bill_component('payment_total'))}} </span> </td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
