page-receipt {

}

.receipt.printer
{
	padding: 5px;
    position: relative;
    background-color: white;
    left: 0px;
    top: 4px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
	width: auto;
	zoom: .8;
}
.receipt:not(.printed)
{
	height: calc(100vh - 85px);
	min-height: calc(100vh - 113px);
	padding: 5px;
    position: relative;
    background-color: white;
    left: 0px;
    top: 4px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
}
	.receipt--costumer-header .title
	{
		margin: 0px;
	}
	.receipt-header
	{
		background-color: white;
		box-shadow: 0px 2px 3px 0px #ddd;
		margin: 0px -5px;
	}
	.receipt.printed .receipt-body
	{
		flex-grow: 1;
	}
	.receipt:not(.printed) .receipt-body
	{
		flex-grow: 1;
		overflow-y: auto; 
	}
		.receipt-body .item-receipt .item-inner
		{
			padding-right: 0px !important;
		}
		.receipt-body .item-receipt .label
		{
			margin-right: 0px !important;
			padding: 3px 0px;
		}
		.receipt-body .item-receipt .label .receipt-detail--component
		{
			// word-wrap: 
			white-space: normal;
			padding-right: 4px;
			font-size: .85em;
		}
	.receipt-footer
	{
		padding: 4px 10px;
		background-color: white;
		box-shadow: 0px -2px 3px 0px #ddd;
		margin: 0px -5px;
		z-index: 2;
		
	}
	.receipt--costumer-header h5
	{
		margin-bottom: 0px;
	}
	.receipt--costumer-header
	{
		text-align: center;
		line-height: 1.2;
	}
		.receipt-headinput
		{
			margin-bottom: 3px;
		}

	
#table-receipt
{
	
}
	#table-receipt thead>tr>td
	{
		margin-bottom: 6px;
	}
	#table-receipt tbody
	{
		display:block;
		max-height:300px;
		// overflow-y:scroll;
	}
	#table-receipt thead, #table-receipt tbody>tr
	{
		display:table;
		width:100%;
		table-layout:fixed;
	}
	
	#table-receipt tbody>tr:last-child
	{
		margin-bottom: 10px;
	}
	#table-receipt tbody>tr>td
	{
		padding: 5px 0px;
		border-bottom: 1px solid #bbb;
	}
	.form-receipt--table
	{

	}
		.form-receipt--border-bottom 
		{
			border:unset;
			border-bottom: 1px solid #aaa;	
		}
.receipt-detail--component--notes
{
	font-size: .9em !important;
    color: #9a9a9a !important;
    margin-top: 5px !important;
    white-space: pre;
}

.receipt-detail--component--properties
{
	font-size: .9em !important;
    margin-top: 5px !important;
    white-space: pre;
}
.pseudo:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, white 33.333%, white 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, white 33.333%, white 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 9px 50px;
  background-position: 50% -30px;
  background-repeat: repeat-x;
  z-index: 1;
  transform: rotate(180deg);
}
.pseudo:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  bottom: -10px;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, white 33.333%, white 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, white 33.333%, white 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 9px 50px;
  background-position: 50% -30px;
  background-repeat: repeat-x;
  z-index: 1;
}

// start
.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(189, 26, 67, 0.4);;
  animation: pulse 1s 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(189, 26, 67, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 1px 20px rgba(189, 26, 67, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(189, 26, 67, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(189, 26, 67, 0.4);
    box-shadow: 0 0 0 0 rgba(189, 26, 67, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 1px 20px rgba(189, 26, 67, 0);
      box-shadow: 0 0 1px 20px rgba(189, 26, 67, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(189, 26, 67, 0);
      box-shadow: 0 0 0 0 rgba(189, 26, 67, 0);
  }
}

// end

.session-order
{
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #ddd;
    font-size: 1em;
}