<!--
  Generated template for the TotalPaymentEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<!-- <ion-toolbar color="main"> -->
	  <ion-navbar>
	    <ion-title>Edit total pembayaran</ion-title>
	    <ion-buttons end>
	      <button ion-button icon-only (click)="closeModal()" *ngIf="page_params.view_type == 'modal' ">
	      	<ion-icon name="close-circle"></ion-icon>
	      </button>
	    </ion-buttons>
	  </ion-navbar>
	<!-- </ion-toolbar> -->

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col offset-2 col-7 col-xs-7 col-sm-7 col-md-7 >
				<ion-row class="row form-group">
					<ion-col col-3 class="">Total Belanja</ion-col>
					<ion-col col-9 class=" input-box">
						<input type="text" class="form-control--lg" name="" readonly value="Rp. {{helper.intToIDR(billProvider.get_bill_component('payment_bills'))}}">
					</ion-col>
				</ion-row>

				<ion-row class="row form-group ion-checkbox-no-bordered">
					<ion-col col-3 class=""></ion-col>
					<ion-col col-9 class=" input-box input-group">
						<ion-item style="padding-left: 0px;">
							<ion-label style="border-bottom: none;">Tambahkan diskon</ion-label>
						  	<ion-checkbox color="primary" checked="true" value="1" [(ngModel)]="bill.is_discount" (ionChange)="toggleDiscount()"></ion-checkbox>
						</ion-item>
					</ion-col>
				</ion-row>

				
				<ion-row class="row form-group" *ngIf="bill.is_discount">
					<ion-col col-3 class=""></ion-col>
					<ion-col col-3 class="">
						<ion-select [(ngModel)]="bill.discount_type_fill" style="max-width:100%; width: 100%;">
						    <ion-option value="0" selected>Pilih Type</ion-option>
						    <ion-option value="1">Manual</ion-option>
						    <ion-option value="2">Master Data</ion-option>
						</ion-select>
					</ion-col>

					<ion-col col-6 class="" *ngIf="bill.discount_type_fill == 2">
						<ion-select [(ngModel)]="bill.discount_id" (ionChange)="change_discount()" style="max-width:100%; width: 100%;">
							<ion-option value="0"  selected> Pilih Diskon </ion-option>
							<ion-option value="{{item.discount_id}}" *ngFor="let item of bill.discounts" > {{item.discount_name}} - {{item.discount_percent}} % </ion-option>
					    </ion-select>
					</ion-col>
					<ion-col col-6 class=" input-box input-group" *ngIf="bill.discount_type_fill == 1">
						<input type="" class="form-control--lg form-control" name="" style="width: 20%;" [(ngModel)]="bill.discount_percent" (input)="countDiscountNominal()">
						<span class="input-group-addon" id="basic-addon1"> % </span>
						<input type="" class="form-control--lg form-control" name="" [(ngModel)]="bill.discount_nominal" (input)="countDiscountPercent()">
					</ion-col>
				</ion-row>

				
				<!-- <ion-row class="row form-group" *ngIf="bill.is_discount">
					<ion-col col-3 class="">Discount</ion-col>
					<ion-col col-9 class=" input-box input-group">
						
					</ion-col>
				</ion-row> -->
				
				<ion-row class="row form-group ion-checkbox-no-bordered">
					<ion-col col-3 class=""></ion-col>
					<ion-col col-9 class=" input-box input-group">
						<ion-item style="padding-left: 0px;">
							<ion-label style="border-bottom: none;">Tambahkan Pajak</ion-label>
						  	<ion-checkbox color="primary" checked value="1" [(ngModel)]="bill.is_tax" (ionChange)="toggleTax($event)"></ion-checkbox>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row class="row form-group" *ngIf="bill.is_tax">
					<ion-col col-3 class="">Pajak</ion-col>
					<ion-col col-9 class=" input-box input-group">
						<input type="" class="form-control--lg form-control" name="" style="width: 18%;" [(ngModel)]="bill.tax_percent"  (input)="countTaxNominal()" value="10" readonly="">
						<span class="input-group-addon" id="basic-addon1"> % </span>
						<input type="" class="form-control--lg form-control" readonly="" name="" [(ngModel)]="bill.tax_nominal" (input)="countTaxPercent()">
					</ion-col>
				</ion-row>

				<ion-row class="form-group">
					<ion-col col-3 class="">Total </ion-col>
					<ion-col col-9 class=" input-box">
						<input type="text" readonly class="form-control--lg" name="" value="Rp. {{ helper.intToIDR(billProvider.get_bill_component('payment_total')) }}">
					</ion-col>
				</ion-row>

				<ion-row class="row form-group center">
						<button ion-button end (click)="updateItem()">Simpan</button>

						<button ion-button color="danger" (click)="closeModal()">Batal</button>
				</ion-row>
			
			</ion-col>
		</ion-row>				
	</ion-grid>

						
</ion-content>
