page-product {

}

#product-box {
	background-color: #eee !important;
}

#section-right
{
	height: calc(100vh - 66px);
	background-color: white;
}

.payment-method
{
	background-color: white;
	left: 5px;
	height: 100%;
	overflow-x: auto; 
}

#box-product
{
	height: 100%;
}
	.box-header
	{
		box-shadow: 0px 2px 3px 0px #ddd;
    	margin-bottom: 2px;
	}
	.box-body
	{
		flex-grow: 1;
		overflow-y: auto;
		display: flex;
		justify-content: space-between;
		background-color: white;
		flex-wrap: wrap;
	}

	#product-action
	{
		box-shadow: 0px -2px 3px 0px #ddd;
		margin-top: 2px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

.product
{
	height: 100px;
	
	margin-bottom: 10px;
	padding: 5px;
}
	.product>.product-body
	{
		border: 1px solid #ddd;
	    border: 1px solid #ddd;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    display: flex;
		justify-content: center;
		align-items: center;
	}



/*form-receipt--border-bottom form-receipt--customer*/
