<!--
  Generated template for the OutletListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar color="main">
	  <ion-navbar>
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title>Outlet anda</ion-title>
	  </ion-navbar>
	</ion-toolbar>

</ion-header>


<ion-content padding>
	<ion-refresher (ionRefresh)="get_outlet_refresh($event)">
    	<ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<h5>Your UID : <strong>{{uid}}</strong></h5>
	<ion-row>
        <ion-col col-4 *ngFor="let item of outlets; let i = index;" (click)="selectOutlet(item)">
          <ion-card padding>
          	<h2 class="text-main">{{item.outlet_name}}</h2>
          	<div style="margin-top: 15px;" class="text-muted">
          		<div style="font-size: .7em;"> <ion-icon ios="ios-contact" md="ios-contact"></ion-icon> <span>{{item.outlet_roles_name}}</span>  </div>
          	</div>
          </ion-card>
        </ion-col>
    </ion-row>
    <div *ngIf="!outlets || outlets.length < 1" class="text-align--center">
		Anda tidak memiliki outlet untuk dikelola
	</div>
</ion-content>
