#payment-box {
	background-color: #eee;
}

#section-right
{
	height: calc(100vh - 66px);
}

.payment-method
{
	background-color: white;
	left: 5px;
	height: 100%;
	overflow-x: auto; 
}



/*form-receipt--border-bottom form-receipt--customer*/
