<ion-menu [content]="content">
    <ion-header color="main">
      <ion-toolbar color="main">
          <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content>
    <!-- {{helper.local.get_params(helper.config.variable.credential).users}} -->
    <ion-list>
      <ion-item *ngIf="helper.local.get_params('is_login') && helper.local.get_params(helper.config.variable.credential).users">
        <ion-avatar item-start>
          <img src="{{helper.config.base_url( )+helper.local.get_params(helper.config.variable.credential).users.users_photo}}">
        </ion-avatar>
        <h2>{{helper.local.get_params(helper.config.variable.credential).users.users_fullname}}</h2>
        <p>Cashier</p>
        <p>
          <button ion-button small color="main" menuClose (click)="logout()"> <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon> &nbsp; Log Out</button>
        </p>
      </ion-item>
    </ion-list>
    <ion-list>
       <!-- <ion-item-divider>Menu</ion-item-divider> -->
      <button menuClose ion-item (click)="setRoot(tablePage)" *ngIf="!helper.local.get_params(helper.config.variable.settings) || helper.local.get_params(helper.config.variable.settings).choose_table_first"> <ion-icon ios="ios-cash" md="md-cash"></ion-icon> Kasir </button>
      <button menuClose ion-item (click)="setRoot(productPage)" *ngIf="helper.local.get_params(helper.config.variable.settings) && !helper.local.get_params(helper.config.variable.settings).choose_table_first"> <ion-icon ios="ios-cash" md="md-cash"></ion-icon> Kasir </button>
      <button menuClose ion-item (click)="setRoot(stocksPage)">
        <ion-icon ios="ios-cube" md="md-cube"></ion-icon> Stok
      </button>
      <button menuClose ion-item (click)="setRoot(transactionPage)">
        <ion-icon ios="ios-trending-up" md="md-trending-up"></ion-icon> Transaksi
      </button>
      <button menuClose ion-item (click)="setRoot(memberPage)">
        <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon> Member
      </button>
      <button menuClose ion-item (click)="setRoot(modalPage)">
        <ion-icon ios="logo-usd" md="logo-usd"></ion-icon> Modal
      </button>
      <button menuClose ion-item (click)="setRoot(spendPage,{sp_type:0})">
        <ion-icon ios="ios-cube" md="md-cube" class="text-danger"></ion-icon> Pengeluaran
      </button>
      <button menuClose ion-item (click)="setRoot(spendPage,{sp_type:1})">
        <ion-icon ios="ios-cube" md="md-cube" class="text-success"></ion-icon> Pengadaan
      </button>
      <button menuClose ion-item (click)="setRoot(debtPage)" *ngIf="helper.local.get_params(helper.config.variable.settings) && helper.local.get_params(helper.config.variable.settings).debt_mode">
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> Hutang
      </button>
      <button menuClose ion-item (click)="setRoot(settingsPage)">
        <ion-icon ios="ios-construct" md="md-construct"></ion-icon> Settings
      </button>

      <button menuClose ion-item (click)="closeApp()">
        <span class="text-danger"><ion-icon ios="ios-exit" md="md-exit"></ion-icon> Tutup Aplikasi</span>
      </button>
      <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'sr-only': !helper.local.get_params(helper.config.variable.settings)[p.options.setting_name]}" >
        {{p.title}}
      </button> -->
      <!-- <button menuClose ion-item (click)="logout()">
        Logout
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>