<ion-menu [content]="content">
    <ion-header color="main">
      <ion-toolbar color="main">
          <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content>
    <!-- {{helper.local.get_params(helper.config.variable.credential).users}} -->
    <ion-list>
      <ion-item *ngIf="helper.local.get_params('is_login') && helper.local.get_params(helper.config.variable.credential).users">
        <ion-avatar item-start>
          <img src="{{helper.config.base_url( )+helper.local.get_params(helper.config.variable.credential).users.users_photo}}">
        </ion-avatar>
        <h2>{{helper.local.get_params(helper.config.variable.credential).users.users_fullname}}</h2>
        <p>Cashier</p>
        <p>
          <button ion-button small color="main" menuClose (click)="logout()">Log Out</button>
        </p>
      </ion-item>
    </ion-list>
    <ion-list>
       <!-- <ion-item-divider>Menu</ion-item-divider> -->
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <!-- <button menuClose ion-item (click)="logout()">
        Logout
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>