<!--
  Generated template for the EditReceiptItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="main">
  <ion-navbar>
    <ion-title>Edit item order</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        Tutup
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row class="relative center " id="product-content-body">
     
      <ion-col col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 id="section-right" class="column">
            
            <ion-row class="row form-group">
              <ion-col col-4 class="">Jumlah Pembelian</ion-col>
              <ion-col col-8 class=" input-box input-group">
                <button class="" ion-button color="light" icon-only id="" round (click)="reduceItem()" style="margin-right: 10px;">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <input type="number" class="form-control form-control--lg" name="" [(ngModel)]="item.qty">
                <button class="" ion-button color="light" icon-only id="" round (click)="addItem()"  style="margin-left: 10px;">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

            <ion-row class="form-group">
              <ion-col col-4 class="">Harga</ion-col>
              <ion-col col-8 class=" input-box input-group">
                <b class="" style="font-size: 1.1em;">Rp {{helper.intToIDR(item.price)}}</b>
              </ion-col>
            </ion-row>
            
            <ion-row class="row form-group">
              <ion-col col-4  class="">Diskon</ion-col>
              <ion-col col-8  class=" input-box input-group">
                <input type="number" maxlength="2" min="1" max="99" class="form-control--lg form-control" name="" style="width: 35%;" [(ngModel)]="item.discount_percent" (input)="countChargeNominal($event)">
                <span class="input-group-addon" id="basic-addon1"> % </span>
                <input type="number" class="form-control--lg form-control" name="" [(ngModel)]="item.discount_nominal" (input)="countChargePercent($event)">
              </ion-col>
            </ion-row>

            <ion-row class="form-group">
              <ion-col col-4 class="">Keterangan</ion-col>
              <ion-col col-8 class=" input-box">
                <textarea placeholder="Keterangan pesanan" class="form-control" [(ngModel)]="item.note" (input)="changeNotes()" style="height: 100px;"></textarea>
              </ion-col>
            </ion-row>

            <ion-row class="form-group">
             
              <ion-col col-4 class="">Komplimen?</ion-col>
              <ion-col col-8 class=" input-box">
                  <ion-toggle checked="false" value="1" [(ngModel)]="item.complement_status" (ionChange)="changeComplementStatus()"></ion-toggle>
              </ion-col>
            </ion-row>
  
            <ion-row class="form-group" *ngIf="item.complement_status > 0">
              <ion-col col-4 class="">Jumlah Komplimen</ion-col>
              <ion-col col-8 class=" input-box input-group">
                 <button class="" ion-button color="light" icon-only id="" round (click)="changeComplementItems('reduce')" style="margin-right: 10px;">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <input type="number" min="1" max="{{item.qty}}" class="form-control" [(ngModel)]="item.complement_item" (input)="changeComplementItems('input', $event)">
                <button class="" ion-button color="light" icon-only id="" round (click)="changeComplementItems('add')"  style="margin-left: 10px;">
                  <ion-icon name="add"></ion-icon>
                </button>
                
              </ion-col>
            </ion-row>

            <ion-row class="form-group" *ngIf="item.complement_status > 0">
              <ion-col col-4 class="">Komplimen Note*</ion-col>
              <ion-col col-8 class=" input-box">
                <textarea class="form-control" [(ngModel)]="item.complement_note" (input)="changeComplementNotes()" style="height: 100px;" placeholder="Isikan alasan komplimen (Wajib diisi)"></textarea>
              </ion-col>
            </ion-row>

            <ion-row class="row form-group center">
                <button class="btn-round" ion-button end (click)="updateItem()"><ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> &nbsp; Simpan</button>

                <button class="btn-round" ion-button color="danger" (click)="cancelUpdate()"><ion-icon ios="ios-close" md="md-close"></ion-icon> &nbsp; Batal</button>
            </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
